.shelf-header{
  background-color: #ab2a19;
  color: #fff;
  padding: 20px;
}
.shelf-nav{
  height: 50px;
  display: flex;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}
.logo{width: 50px;}
.shelf-header h1{ margin-left: 10px}

.shelf-bin{
  background-color: #d34735;
  width: 60%;
  margin: 15px auto;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
}
